@tailwind base;
@tailwind components;
@tailwind utilities;

#__next footer{
  margin-top: auto;
}
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  height: 100%;
  @apply bg-gray-100;
  font-family: "Nunito" , "Vazirmatn", "Vazir", -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo-style-1{fill:#0c4a6e;}
.logo-style-2{fill:#0ea5e9;}
.logo-style-3{fill:#fff;}


.hljs {
  @apply bg-gray-700;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #d1d9e1;
}
.hljs-comment,
.hljs-quote {
  color: #969896;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-type,
.hljs-addition {
  color: #cc99cc;
}
.hljs-number,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #f99157;
}
.hljs-string,
.hljs-doctag,
.hljs-regexp {
  color: #8abeb7;
}
.hljs-title,
.hljs-name,
.hljs-section,
.hljs-built_in {
  color: #b5bd68;
}
.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-class .hljs-title {
  color: #ffcc66;
}
.hljs-section,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-link {
  color: #f99157;
}
.hljs-deletion {
  color: #dc322f;
}
.hljs-formula {
  background: #eee8d5;
}
.hljs-attr,
.hljs-attribute {
  color: #81a2be;
}
.hljs-emphasis {
  font-style: italic;
} /* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  vertical-align: top;
  padding-right: 10px !important;

  /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
  padding-left: 10px !important;
}

pre {
  direction: ltr;
  max-height: 40em;
  overflow-x: auto;
  border-radius: 4px;
  @apply my-6 bg-black;
}

pre code {
  @apply text-gray-900;

  line-height: 1.7 !important;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  border-radius: 4px;
  padding: 20px !important;
}
