@tailwind base;
@tailwind components;
@tailwind utilities;

#__next footer{
  margin-top: auto;
}
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  height: 100%;
  @apply bg-gray-100;
  font-family: "Nunito" , "Vazirmatn", "Vazir", -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo-style-1{fill:#0c4a6e;}
.logo-style-2{fill:#0ea5e9;}
.logo-style-3{fill:#fff;}
